.feedback-content-1{
    background-color: #232323;
    background-image: linear-gradient(120deg, #232323 0%, #403b3b 55%, #0e0e0e 100%);
}

.feedback-content-2{
    background-color: #232323;
    background-image: linear-gradient(40deg, #232323 0%, #403b3b 55%, #0e0e0e 100%);
}