.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



::-webkit-scrollbar {
    width: 5px;
}

/**Track**/
::-webkit-scrollbar-track {
    background-color: #28202C;
    border-radius: 10px;
}

/**Handle**/
::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
}